
.chart rect {
    fill: steelblue;
  }
  
  .chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
  }

::-webkit-scrollbar{
  width:0;
  
}


  #map {
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 0;
  }
  
  .attacks, .attacks svg {
    position: absolute;
  }
  
  .attacks svg {
    font: 10px Arial;
    font-weight: 900;
    /*background-color: pink;*/
  }
  
  .attacks circle {
    fill: pink;
    stroke: black;
    stroke-width: 1px;
  }



